appdirs==1.4.4
asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
contourpy==1.2.0
crispy-bootstrap4==2024.1
crispy-bootstrap5==2023.10
cycler==0.12.1
distlib==0.3.8
Django==5.0
django-autoslug==1.9.9
django-crispy-forms==2.1
django-tinymce==3.6.1
filelock==3.13.1
fonttools==4.47.0
frozendict==2.3.10
html5lib==1.1
idna==3.6
kiwisolver==1.4.5
lxml==4.9.4
matplotlib==3.8.2
multitasking==0.0.11
numpy==1.26.2
packaging==23.2
pandas==2.1.4
peewee==3.17.0
Pillow==10.1.0
platformdirs==4.1.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
seaborn==0.13.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.1.0
virtualenv==20.25.0
webencodings==0.5.1
whitenoise==6.6.0
yfinance==0.2.33
